# Основные настройки
Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  cppcoreguidelines-*,

  -modernize-use-nodiscard,
  # Too much extra lines for not too much clarity

  -performance-avoid-endl,
  # Used on purpose since output wont necessarily be flushed otherwise

  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  # Maybe later

  -cppcoreguidelines-non-private-member-variables-in-classes,
  # Unreasonable

  -cppcoreguidelines-special-member-functions,
  # Too much extra lines for not too much clarity

  -modernize-use-trailing-return-type,
  # Stylistically meh

  -bugprone-easily-swappable-parameters,
  # Important, but not now

  -readability-uppercase-literal-suffix,
  # Taste

  -readability-avoid-unconditional-preprocessor-if,
  # That's a good use case for preprocessor if

  -readability-braces-around-statements,
  # Taste

  # -readability-function-cognitive-complexity,
  # Requires a deep rework to fix (though important)

  -readability-identifier-length,
  # Too strict

  -cppcoreguidelines-avoid-const-or-ref-data-members,
  # Pointless, const helps with internal logic and ref forces the client
  #    to ensure correct lifetime and makes relationship clearer

  -readability-math-missing-parentheses,
  # 

  -readability-named-parameter,
  #

  -readability-implicit-bool-conversion,
  # Much better with C-style SDL

  -readability-isolate-declaration,
  # Taste

  #-performance-no-int-to-ptr,
  #-bugprone-easily-swappable-parameters,
  #-cppcoreguidelines-avoid-c-arrays,
  #-cppcoreguidelines-pro-type-union-access,
  #-cppcoreguidelines-pro-bounds-pointer-arithmetic,
  #-modernize-avoid-c-arrays,

HeaderFilterRegex: ''
